*.olean
/_target
/leanpkg.path

/python/__pycache__/
/python/*.py[cod]
/python/*$py.class


/python/*.so


/python/.Python
/python/build/
/python/develop-eggs/
/python/dist/
/python/downloads/
/python/eggs/
/python/.eggs/
/python/lib/
/python/lib64/
/python/parts/
/python/sdist/
/python/var/
/python/wheels/
/python/pip-wheel-metadata/
/python/share/python-wheels/
/python/*.egg-info/
/python/.installed.cfg
/python/*.egg
/python/MANIFEST




/python/*.manifest
/python/*.spec


/python/pip-log.txt
/python/pip-delete-this-directory.txt


/python/htmlcov/
/python/.tox/
/python/.nox/
/python/.coverage
/python/.coverage.*
/python/.cache
/python/nosetests.xml
/python/coverage.xml
/python/*.cover
/python/*.py,cover
/python/.hypothesis/
/python/.pytest_cache/


/python/*.mo
/python/*.pot


/python/*.log
/python/local_settings.py
/python/db.sqlite3
/python/db.sqlite3-journal


/python/instance/
/python/.webassets-cache


/python/.scrapy


/python/docs/_build/


/python/target/


/python/.ipynb_checkpoints


/python/profile_default/
/python/ipython_config.py


/python/.python-version









/python/__pypackages__/


/python/celerybeat-schedule
/python/celerybeat.pid


/python/*.sage.py


/python/.env
/python/.venv
/python/env/
/python/venv/
/python/ENV/
/python/env.bak/
/python/venv.bak/


/python/.spyderproject
/python/.spyproject


/python/.ropeproject


/python/site


/python/.mypy_cache/
/python/.dmypy.json
/python/dmypy.json


/python/.pyre/**/*~
**/*~
/python/virtualenv/
/data/
**/__pycache
**/*/__pycache__/

src/all.lean
